body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 18px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 100px;
  transition: background-color 0.5s ease;
}

.navbar-scrolled {
  background-color: #131335;
  transition: background-color 0.5s ease;
}

.logo a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 10px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    background-color: #131335;
    padding: 10px 40px;
    justify-content: start;
  }
  .nav-links {
    position: absolute;
    z-index: -1;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #131335;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: 50px;
    width: 50%;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    display: block;
    margin: 10px 0;
  }

  .burger {
    display: block;
    margin-right: 20px;
  }
}

.nav-active {
  transform: translateX(-100%);
}

.nav-links li {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  align-items: center;
  margin: 0;
}

/* Add CSS for the cross icon */
.burger.active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active .line2 {
  opacity: 0;
}

.burger.active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.background-image {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image.active {
  opacity: 1;
}

.title-line {
  display: block;
  margin: auto;
  width: 100px;
  height: 2px;
  background-color: red;
}

.box-card {
  max-width: 500px;
  height: 270px;
  padding: 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top: 5px solid #131335;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 30px;
}

.box-card .desc {
  text-align: justify;
  font-size: 12px;
}

.box-card a {
  width: 100%;
  background-color: #131335;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px 0;
  display: none;
  transition: 0.5s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box-card:hover {
  transform: translateY(-10px);
}

.box-card:hover > a {
  display: block;
}
.box-card a:hover {
  background-color: red;
}

.bg-img {
  background-image: url("../img/cta-bg-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img::before {
  content: ""; /* create a pseudo-element for the overlay */
  position: absolute; /* position the overlay relative to the element */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* set a semi-transparent black color for the overlay */
}

.bg-img .content {
  z-index: 1;
  color: white;
  width: 70%;
  margin-right: 50px;
  text-align: justify;
}

.content .title {
  font-size: 30px;
  font-weight: 500;
}

.content .desc {
  font-size: 13px;
}

.bg-img .more {
  z-index: 1;
}

.more a {
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  background-color: #131335;
  cursor: pointer;
  border: 1.5px solid white;
  border-radius: 5px;
  transition: 0.5s;
}

.more a:hover {
  background-color: red;
}

@media screen and (max-width: 768px) {
  .bg-img {
    height: 700px;
    flex-direction: column;
    overflow: hidden;
  }

  .bg-img .content {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .content .title {
    text-align: left;
  }
}

.main-news {
  width: 450px;
  padding: 0px 0px;
}

.main-news .img-container {
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.main-news a {
  color: #131335;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}

.main-news a:hover {
  color: red;
}

.news-list {
  height: 400px;
  width: 450px;
  background-color: #131335;
  padding: 10px 15px;
  color: #fff;
  overflow-y: scroll;
}

.news-list .news {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-top: 10px;
}

.news .date {
  font-size: 12px;
  color: gray;
  font-weight: 300;
  font-style: italic;
}

.news .title {
  font-size: 20px;
  margin-top: -20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.news .title:hover {
  color: red;
}

.yt-lg {
  display: block;
}

.yt-md {
  display: none;
}

@media screen and (max-width: 768px) {
  .yt-lg {
    display: none;
  }

  .yt-md {
    display: block;
  }
}

.portfolio img {
  opacity: 0.5;
  transition: 0.3s;
}

.portfolio img:hover {
  opacity: 1;
}
